@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: hsl(212, 45%, 89%);
}

.white-box {
    display: flex;
    background-color: white;
    display: block;
    width: min-content;
    border-radius: 0.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    border-radius: 0.5rem;
    width: 180px;
    height: 180px;
    margin: 0.5rem;
}

p {
    font-size: 15px;
    font-family: 'Outfit';
    text-align: center;
}

.p1 {
    font-weight: 700;
}

.p2 {
    font-size: 10px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    padding: 1rem;
    padding-bottom: 2rem;
}

.attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.attribution a {
    text-decoration: none;
}

.attribution a:hover {
    color: darkred;
}

.small {
    display: none;
}

/* @media (max-width: 375px) {
    .center{}
    .center-inner{left:25%;top:25%;position:absolute;width:50%;height:300px;background:#f0f;text-align:center;max-width:500px;max-height:500px;}
}
@media (min-width: 380px) {
    .center{left:50%;top:25%;position:absolute;}
    .center-inner{width:500px;height:100%;margin-left:-250px;height:300px;background:#f0f;text-align:center;max-width:500px;max-height:500px;}
} */

/*   .small {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 */

