@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    background-color: hsl(212, 45%, 89%);
}

.white-box {
    display: flex;
    background-color: white;
    display: block;
    width: min-content;
    border-radius: 0.6rem;
}

img {
    border-radius: 0.5rem;
    width: 180px;
    height: 180px;
    margin: 0.5rem;
}

p {
    font-size: 15px;
    font-family: 'Outfit';
    text-align: center;
}

.p1 {
    font-weight: 700;
}

.p2 {
    padding-top: 1rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}




.text {
    padding: 1rem;
}